.rhap_container {
    background-color: #f5f5f5;
    border-radius: 10px;
    
  }
  
  .rhap_progress-filled {
    background-color: #4caf50;
  }
  
  .rhap_main-controls-button {
    color: #4caf50;
  }
  